
'.platform-darwin atom-text-editor':
  'ctrl-alt-k': 'kite:expand-at-cursor'
  'cmd-alt-k': 'kite:open-in-web'

'.platform-darwin kite-sidebar':
  'cmd-alt-k': 'kite:open-in-web'

'.platform-darwin kite-login':
  'cmd-c': 'native!'
  'cmd-x': 'native!'
  'cmd-v': 'native!'

'.platform-win32 kite-login':
  'ctrl-c': 'native!'
  'ctrl-x': 'native!'
  'ctrl-v': 'native!'

'.platform-linux kite-login':
  'ctrl-c': 'native!'
  'ctrl-x': 'native!'
  'ctrl-v': 'native!'

'.platform-darwin .install-flow':
  'cmd-c': 'native!'
  'cmd-x': 'native!'
  'cmd-v': 'native!'

'.platform-win32 .install-flow':
  'ctrl-c': 'native!'
  'ctrl-x': 'native!'
  'ctrl-v': 'native!'

'.platform-linux .install-flow':
  'ctrl-c': 'native!'
  'ctrl-x': 'native!'
  'ctrl-v': 'native!'
