
'.platform-darwin atom-text-editor':
  'ctrl-alt-k': 'kite:expand-at-cursor'
  'cmd-alt-k': 'kite:open-in-web'

'.platform-darwin kite-sidebar':
  'cmd-alt-k': 'kite:open-in-web'

'.platform-darwin kite-login':
  'cmd-c': 'native!'
  'cmd-x': 'native!'
  'cmd-v': 'native!'
