@import "ui-variables";
@import "variables";

.kite-ksg {
  z-index: 500 !important;
}

kite-ksg {
  display: block;
  min-width: 30rem;
  background-color: @overlay-background-color;
  padding: 10px;
  border-radius: @component-border-radius;
  atom-text-editor[mini] {
    margin-bottom: 0 !important;
  }
}

kite-ksg-code-blocks {
  .kite-ksg-code-blocks-wrapper {
    overflow-y: auto;
    max-height: 70vh;
  }
  
  kite-ksg-code-block-group {
    background-color: @background-color-highlight;
    display: block;
    padding: 4px 8px;
    margin-top: 7px;
    border-radius: @component-border-radius;

    .ksg-codeblock-group-top {
      display: flex;
      flex-direction: column;
      font-family: @font-family;
    }

    .ksg-codeblock-group-meta {
      display: block;

      &.accepted {
        &>* {
          color: @background-color-success;
        }
      }
    }

    .ksg-codeblock-group-actions {
      display: block;
      .ksg-codeblock-group-addall {
        float: right;
        color: @text-color-info;
        text-decoration: underline;
        &:hover {
          color: @text-color-highlight;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    .ksg-codeblock-group-title {
      :hover {
        color: @text-color-highlight;
        text-decoration: underline;
        cursor: pointer;
      }

      a {
        color: @text-color;
      }

      .ksg-codeblocks-title-link-icon,
      .ksg-codeblocks-title-link-icon:hover {
        color: @text-color;
        text-decoration: none;
      }
    }

    .ksg-codeblock-group-vote {
      float: right;
    }

    kite-ksg-code-block {
      font-family: var(--editor-font-family);
      font-size: 1.1em;
      display: block;
      margin: 4px 0;
      padding: 5px 3px;
      padding-left: 3ch;
      border-radius: @component-border-radius;
      background-color: @base-background-color;
      word-wrap: break-word;
      white-space: pre-wrap;
      line-height: 1.6em;

      .ksg-code-block-wrapper {

      }

      .ksg-code-block-code {

      }

      .ksg-code-block-toggle {
        display: block;
        font-family: @font-family;

        &:hover {
          color: @text-color-info;
        }

        .ellipsis {
          font-size: 1.7em;
        }

        .arrow {
          float: right;
          font-size: 1.7em;
        }
      }

      &:hover {
        background-color: @hover-background-color;
        color: @text-color-highlight;
        cursor: pointer;
      }
    }
  }
}

kite-ksg-search {
  display: block;
  margin-bottom: @component-border-radius;
  kite-ksg-search-results {
    position: relative;
    border: none;
    border-radius: @component-border-radius;
    display: block;

    &.bordered {
      border: 2px solid @border-color;
      border-top: none;
    }
  }

  kite-ksg-default-search-result,
  kite-ksg-search-result {
    color: @text-color;
    display: block;

    padding-left: 0.5em;

    font-size: 1.15em;
    line-height: 1.75em;
    font-family: var(--editor-font-family);

    &:hover,
    &.highlight-result {
      background-color: @hover-background-color;
      color: @text-color-highlight;
      cursor: pointer;
    }

    .plain-text {
      font-family: @font-family;
      color: @text-color-subtle;
    }
  }
}