@import 'ui-variables';
@import "../node_modules/kite-installer/styles/styles.less";

.tooltip.kite-tooltip {
  .tooltip-arrow {
    border-top-color: @background-color-selected !important;
  }

  .tooltip-inner {
    background: @background-color-selected;
  }
}

atom-text-editor .kite-hyperclick {
  .region {
    z-index: 1;
    pointer-events: auto;
    border-bottom: 1px solid @text-color-info;
    cursor: pointer;
  }
}
