@import "ui-variables";

kite-open-link {
  display: block;
  margin-top: @component-padding;
  text-align: right;

  a {
    text-transform: uppercase;
    display: inline-block;

    &, &:active, &:hover, &:focus {
      color: @text-color;
      text-decoration: none;
    }

    kbd {
      font-size: 1.6em;
      font-weight: lighter;
      font-family: @font-family;
      margin-left: @component-padding;
      margin-right: @component-padding;
    }

    span, kite-logo {
      vertical-align: middle;
      display: inline-block;
    }
  }

  kite-logo {
    svg {
      width: 2em;

      polygon {
        fill: @text-color-highlight;
      }
    }
  }
}
