@import 'variables';

kite-autocorrect-sidebar {
  footer {
    background: transparent !important;
    padding: 0 !important;
  }
  .content {
    flex: 1 1 auto;
  }
  .file {
    font-size: 1.4em;
    color: @text-color-highlight;
  }
  .diff {
    margin: @component-padding 0;
    margin-bottom: @double-padding;

    &:not(:first-child) {
      opacity: 0.7;

      .feedback-actions {
        display: none;
        pointer-events: none;
      }
    }

    &.feedback-sent {
      .feedback-actions {
        pointer-events: none;

        a {
          opacity: 0.4;

          &.clicked {
            opacity: 0.7;
          }
        }
      }
    }
  }
  .diff-content {
    margin-top: @component-padding;
    background: white;
    display: block;
    padding: 0;
    border-radius: 0;
  }

  .feedback-actions {
    text-align: right;
    margin-top: @component-padding;

    a {
      margin-right: @component-padding;
    }

    a:hover {
      text-decoration: none;
    }
  }
  del, ins {
    display: flex;
    flex-direction: row;
    text-decoration: none;

    .line-number {
      width: 80px;
      opacity: 0.5;
      padding: @component-padding;
      color: @text-color;
    }
    .line {
      padding: @component-padding;
      padding-left: @triple-padding;
      position: relative;
      color: @text-color;
      white-space: pre-wrap;

      // Indent every line except the first one by 4 spaces
      margin-left: 4ch;
      text-indent: -4ch;

      &::before {
        opacity: 0.5;
        position: absolute;
        left: 0;
        padding-left: @component-padding;
      }
    }
  }
  del {
    background-color: saturate(mix(@syntax-color-removed, @pane-item-background-color, 15%), 20%);

    .line-number {
      background-color: saturate(mix(@syntax-color-removed, @pane-item-background-color, 25%), 20%);
      text-align: left;
    }
    .line {
      &::before {
        content: '-';
      }
    }
  }
  ins {
    background-color: saturate(mix(@syntax-color-added, @pane-item-background-color, 15%), 20%);

    .line-number {
      background-color: saturate(mix(@syntax-color-added, @pane-item-background-color, 25%), 20%);
      text-align: right;
    }
    .line {
      &::before {
        content: '+';
      }
    }
  }
}
