@import "variables";
@import "content";

kite-signature {
  display: block;
  padding: @component-padding;
  background: @app-background-color;
  font-size: 1em;
  font-family: @font-family;

  .kite-content;

  kite-open-link {
    margin-top: @component-padding;
  }

  h4 {
    font-size: 0.9em;
  }

  .kite-signature-wrapper {
    max-width: 40em;
    min-width: 20em;
    margin: 0;
  }

  // .name {
  //   font-size: 1em;
  // }

  pre {
    font-size: 1em;
    padding: 0;
    background: transparent;
    color: @text-color;
  }

  .parameter.ellipsis {
    color: @text-color-subtle;
  }

  .parameter-name {
    color: @text-color;
  }

  .parameter-highlight .parameter-name {
    background: @background-color-selected;
    padding: 0 3px;
    border-radius: 2px;
    display: inline-block;
    color: @text-color-highlight;
  }

  &[no-documentation] + .suggestion-description {
    display: none !important;
  }
}

atom-text-editor kite-signature {
  display: none;
}

atom-text-editor[data-grammar="source python"] kite-signature {
  display: block;
}
