@import "ui-variables";
@import "variables";

kite-expand {
  display: flex;
  flex-direction: column;
  color: @text-color;
  padding: @half-padding;
  font-family: @font-family;
  font-size: 0.9em;
  max-height: 50vh;
  overflow-y: auto;

  kite-navigable-stack-breadcrumb {
    flex: 0 0 auto;
    align-items: center;
    margin-bottom: @component-padding;
  }

  kite-navigable-stack {
    flex: 1 1 auto;
    overflow-y: auto;

    > * {
      height: auto;

      .sections-wrapper {
        flex: 1 1 auto;
        overflow-y: auto;
      }

      footer {
        display: block;
        margin-top: @component-padding;
      }
    }
  }
}

// In an overlay decoration or in debug mode
atom-overlay > kite-expand, body > kite-expand {
  background: @base-background-color;
  border: 1px solid @border-color;
  border-radius: @component-border-radius;
  max-width: 40em;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.1);
}

// In a block decoration
kite-expand[data-screen-row] {
  width: 100%;
  background: @base-background-color;
  border: 1px solid @border-color;

  // kite-expand-module, kite-expand-function, kite-expand-instance {
  //   position: relative;
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //
  //   > section, > .column {
  //     padding: 0 @component-padding;
  //     width: 33%;
  //   }
  //
  //   kite-expand-navigation {
  //     flex: 1 1 0;
  //   }
  //
  //   kite-open-link {
  //     position: absolute;
  //     bottom: 0px;
  //     right: 0;
  //   }
  // }
  //
  // kite-expand-function, kite-expand-instance {
  //   padding-bottom: 40px;
  // }
}
