@import "ui-variables";

kite-expand {
  display: inline-block;
  color: @text-color;
  background: @base-background-color;
  border: 1px solid @base-border-color;
  padding: @component-padding;
  border-radius: @component-border-radius;
  font-family: @font-family;
  font-size: @font-size;
  max-width: 500px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);

  a {
    &, &:hover, &:active, &:focus,  {
      color: @text-color-info;
    }
  }

  .name, .type {
    white-space: nowrap;
  }

  .split-line {
    display: flex;
    flex-direction: row;
    width: 100%;

    > * {
      flex: 1 1 0;
    }

    > :last-child {
      text-align: right;
      padding-left: @component-padding;
      &:empty {
        display: none;
      }
    }

    & + .split-line {
      margin-top: @component-padding / 2;
    }
  }

  .expand-header {
    font-size: 1.4em;
    color: @text-color-highlight;
  }

  .expand-extend {
    font-size: 1.2em;
  }

  .expand-body {
    margin-top: @component-padding;
    font-size: 1.1em;

    .summary {
      color: @text-color-highlight;
    }

    section.collapsed {
      *:not(h4) {
        display: none;
      }
    }

    h4 {
      text-transform: uppercase;
      font-weight: 100;
      margin: @component-padding 0;
    }

    dl {
      padding-left: @component-padding * 2;
      padding-right: @component-padding * 8;
      margin: @component-padding 0 (@component-padding * 2);

      dt {
        color: @text-color-highlight;
        font-weight: normal;
        font-size: 1.2em;

        .type::after {
          content: "\f078";
          font-family: 'Octicons Regular';
          position: absolute;
          margin-left: 5px;
          font-size: 0.8em;
          margin-top: 0.3em;
          color: @text-color;
        }
      }

      dd {
        p {
          margin: 0;
        }

        a {
          font-size: 0.9em;
        }

        & + dt {
          margin-top: @component-padding;
        }
      }
    }

    pre {
      font-size: 1.1em;
      line-height: 1.6em;
      color: @text-color-highlight;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;

      a.icon {
        &, &:hover, &:active, &:focus,  {
          color: @text-color-info;
        }
      }

      & + pre {
        margin-top: @component-padding / 2;
      }
    }

  }
}

kite-expand-navigation {
  display: block;
  margin-top: @component-padding;
  margin-bottom: -@component-padding;
  margin-left: -@component-padding;
  margin-right: -@component-padding;
  padding: @component-padding;
  border-top: 1px solid @base-border-color;
  background: @app-background-color;
}

kite-open-link {
  display: block;
  margin-top: @component-padding;
  text-align: right;

  a {
    text-transform: uppercase;
    display: inline-block;

    &, &:active, &:hover, &:focus {
      color: @text-color;
      text-decoration: none;
    }

    kbd {
      font-size: 1.6em;
      font-weight: lighter;
      font-family: @font-family;
      margin-left: @component-padding;
      margin-right: @component-padding;
    }

    span, svg {
      vertical-align: middle;
      display: inline-block;
    }

    svg {
      width: 2em;

      path {
        fill: @text-color-highlight;
      }
    }
  }
}
