@import 'variables';
@import "content";

kite-curated-example {
  flex-direction: column;

  .example-wrapper {
    overflow-y: auto;
    flex-direction: column;

    pre {
      flex: 0 0 auto;

      a {
        color: inherit;
      }

      &.output, &.input {
        background: @base-background-color;
        border-radius: @component-border-radius;
        border: 1px solid @border-color;
      }
    }

    .kite-table;

    ul.list-tree {

      &.root {
        margin: @half-padding 0;
        padding: @half-padding;
        border: 1px solid @border-color;
        border-radius: @component-border-radius;
      }

      li {
        font-size: 1em;

        & + li {
          margin-top: 0;
        }
      }
    }

    table {
      border: 1px solid @border-color;
      border-radius: @component-border-radius;
      border-collapse: separate !important;

      th, td {
        border: none
      }
    }
  }
}
