@import 'ui-variables';

.kite-login-panel {
	font-size: 1.2em;
	padding: 2.5em 2em 2em;
	margin: auto;

	svg {
		width: 100px;
		height: 45px;
		position: absolute;
		right: 2em;
		top: 0.5em;

		path {
			fill: @text-color-highlight;
		}
	}

	a {
		cursor: pointer;
	}

	&:not(.password-less) {
		.no-password {
			display: none;
		}
	}

	&.password-less {
		.has-password {
			display: none;
		}
	}
	.form-status {
		margin-top: @component-padding;

		&.hidden {
			display: none;
		}

		&:empty {
			display: none;
		}
	}
}
